html,body{
    width: 100%;
    height: 100%;
}
/* side navbar */
.navbar{
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #343a4094;
    padding-top: 20px;  
}

/* header section */

.header{
	width: 100%;
	background: url(../images/slider.jpg) no-repeat;
	background-size: 100% 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

.transparent{
    width: 100%;
    background-color: #00000075;
}
.headline{
    padding-top:17%;
}
.icons ul li{
        list-style-type: none;
        display: inline;
}


/* experience section */

.black{
    background-color: black;
	width: 100%;
}



/* scope section */

.grey{
    background-color: #1c1c1c;

}
.pad{
    padding-left: 15px;
}


.services{
    width: 100%;
	background: url(../images/Events.jpg) no-repeat;
	background-size: cover;
    height: auto;
    padding-right: 0;
    padding-left: 0;


}

.all{
    margin-left:60px;
}











